<form class="form-signin">
  <div>
    <label for="inputCredencial">Credencial de Usuario</label>
  </div>    
  <div class="form-label-group">
      <input type="text" id="credencial" class="form-control" placeholder="Credencial de Usuario" required autofocus>
      <label for="credencial">Credencial de usuario</label>
      <small id="credencialHelp" class="form-text text-muted">Nunca compartas tus credenciales con ninguna persona por seguridad.</small>
    </div>

    <div class="form-label-group">
      <div>
        <label for="inputPassword">Contraseña</label>
      </div>
      <div class="input-group">
        
        <input type="password" id="inputPassword" class="form-control" placeholder="" data-toggle="password" required>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-eye"></i></span>
        </div>
      </div>

      <!--<label for="inputPassword">Password</label>-->
      
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    
</form>
